body{
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  //font-family: 'Roboto', sans-serif;
}
.row{
  margin-bottom: 0;
  padding-bottom: 20px;
}
.center-center{
  display: flex;
  justify-content: center;
  align-items: center;
  &.center-col{
    flex-direction: column;
  }
}
.container{
  max-width: 800px;
}

//desktop
@media #{$large-and-up}{
}

//desktop small - ipad horizontal
@media #{$large-and-down}{
}

//medium
@media #{$medium-and-down}{
}

//small
@media #{$small-and-down}{
}