//hack IE10+
//@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
//IE9+
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

//IE Edge
@supports (-ms-accelerator:true){
  html body{
  }
}

//Firefox*
@-moz-document url-prefix() {
  html body{
  }
}