footer{
  height: 270px;
  padding-top: 40px;
  max-width: 1100px;
  display: block;
  margin: 0 auto;
  background:white url(../images/footer.jpg) top no-repeat;
  img.right{
    margin-top: -41px;
  }
  p{
    font-style: italic;
    color: $pink;
  }
  h2{
    font-style: italic;
    color: $pink;
    span{
      display: block;
      &.blued
      {
        color: $blue;
      }
      &.blacked{

        font-family: 'Roboto', sans-serif;
        font-weight: 900;
      }
    }
  }
}