header{
  background: url(../images/bg-topo.jpg) bottom no-repeat;
  height: 660px;
  max-height: 100vh;
  .packing{
    margin-top: 50px;
  }
  .logo{
    float: right;
  }
  h1{
    float: left;
    width: 100%;
    font-style: italic;
    color: white;
    font-size: 3em;
    span{
      display: block;
      &.blued
      {
        color: $blue;
      }
      &.blacked{

      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      }
      &.bold{
        font-weight: 700;
      }
    }
  }
}

//small
@media #{$small-and-down}{
  header{
    h1{
      margin-top: 40px;
      text-align: center;
      font-size: 2.5em;
      span{
        font-size: 1.25em;
      }
    }
  }
}