main#home{
  padding-bottom: 0 ;
  .video{
    padding: 80px 0;

  }
  .know{
    min-height: 200px;
    max-width: 1100px;
    display: block;
    margin: 0 auto;
    background:$pink url(../images/bg-conheca.jpg) top no-repeat;
    .container{
      padding-top: 40px;
    }
    h2{
      font-style: italic;
      color: #fff;
      font-size: 2.5em;
      text-transform: uppercase;

      span{
        display: block;
        &.blued
        {
          color: $blue;
        }
        &.blacked{

          font-family: 'Roboto', sans-serif;
          font-weight: 900;
        }
        &.bold{
          font-weight: 700;
        }
      }
    }
    h3, p{
      color: white;
      font-style: italic;

    }
    h3{
      font-size: 1.35em;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .howto{
    padding: 160px 0;
    max-width: 1100px;
    display: block;
    margin: 0 auto;
    background: url(../images/bg-tones-bottom.jpg) top no-repeat;
    .mt80{
      margin-top: 80px;
    }
    h2{
      color: $blue;
      font-weight: 700;
      font-size: 3.2em;
      text-align: center;
    }
    h3{
      &.mb10{
        margin-bottom: 30px;
      }
      span{
        font-weight: 700;
        text-transform: uppercase;
        color: $blue;
        display: inline-block;
      }
      img{
        margin-bottom: -20px;
        max-width: 100%;
        display: inline-block;
        margin-right: 5px;
        &.mb10{
          margin-bottom: -10px;
        }
      }
    }
    ul{
      padding-left: 30px;
      li{
        font-weight: 500;
        font-size: 1.1em;
        font-family: 'Roboto', sans-serif;
        color: $blue;
        list-style: circle;
      }
    }

  }
  .tones
  {
    background:$pink url(../images/bg-tones.jpg) top no-repeat;
    max-width: 1100px;
    min-height: 950px;
    display: block;
    margin: 0 auto;
    .container{
      padding-top: 240px;

    }
    h2{
      font-style: italic;
      color: white;
      text-align: right;
      font-size: 2.5em;
      span{

        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
      }
    }
    p{
      float: right;
      margin: 0;
      color: white;
      font-size: 1.8em;
      text-align: right;

    }
    h3{
      color: white;
      text-align: center;
    }
    .center-align p{
      float: none;
      font-size: 1.5em;
      text-align: center;
      display: block;
    }
  }
}

//medium
@media #{$medium-and-down}{
}

//small
@media #{$small-and-down}{
  main#home{
    .know{
      text-align: center;
      h2{
        margin-top: 60px;
        margin-bottom: -80px;
      }
      h3, img, p{
        text-align: center;
      }
      img{
        margin: 0 auto;
        display: block;
      }
    }
    .video{
      padding: 40px 0;
    }
    .howto
    {
      padding-top: 80px;
      img{
        margin: 0 auto;
        display: block;
      }
    }
    .tones{
      h2{
        text-align: center;
      }
      .container{
        padding-top: 100px;
      }
    }
  }
}